
<div class= "cursor-none relative z-50 bg-black p-2 md:p-8 min-w-full min-h-screen overflow-hidden text-white select-none">
<div class="top-screen "></div>
<div class=' z-10'><app-particles></app-particles>
</div>
@if (isShow) {
<div class="z-50 flex justify-between items-center ">
    <div class="z-50 flex space-x-5">
        <a href="https://www.linkedin.com/in/tamilvanan-d-1a5925260/" target="_blank"  class="hover:text-green-600 cursor-none  hover:animate-alternate hover:animate-infinite animate-fade-right animate-duration-[1000ms] animate-alternate text-2xl "><span
            title="linkedin"><i class="fa-brands fa-linkedin"></i></span></a>
       <a href="https://github.com/tamil202/tamil202" target="_blank" class="hover:text-red-600 cursor-none   hover:animate-alternate hover:animate-infinite animate-fade-right animate-duration-[2000ms] animate-alternate text-2xl "><span
        
        title="github"><i class="fa-brands fa-github"></i></span></a>
       <a href="mailto:tvanan834@gmail.com" target="_blank"  class="hover:text-yellow-600 cursor-none   hover:animate-alternate hover:animate-infinite animate-fade-right animate-duration-[3000ms] animate-alternate text-2xl "><span
        title="gmail"><i class="fa-solid fa-envelope"></i></span></a>
    </div>
    <div class="z-50 h-[3px] w-full border rounded-full border-white mx-2"></div>
    <a routerLink="/resume" class="z-50 cursor-none uppercase text-2xl font-bold tracking-widest ">
        <span class="z-50 animate-fade-left animate-duration-[1000ms] animate-alternate hover:text-red-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">r</span>
        <span class="z-50 animate-fade-left animate-duration-[2000ms] animate-alternate hover:text-green-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">e</span>
        <span class="z-50 animate-fade-left animate-duration-[3000ms] animate-alternate hover:text-yellow-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">s</span>
        <span class="z-50 animate-fade-left animate-duration-[4000ms] animate-alternate hover:text-purple-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">u</span>
        <span class="z-50 animate-fade-left animate-duration-[5000ms] animate-alternate hover:text-gray-200 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">m</span>
        <span class="z-50 animate-fade-left animate-duration-[6000ms] animate-alternate hover:text-pink-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">e</span>
    </a>
</div>
        
            <div class="z-50 flex justify-between min-h-screen items-center">
                <a routerLink="/about" class="z-50 cursor-none animate-fade-right animate-alternate  flex items-center gap-x-2"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="size-6 z-50 animate-fade-left animate-infinite animate-ease-linear animate-alternate">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                    </svg>
                    <h1 class="uppercase text-2xl z-50">
                        <span
                            class="z-50 hover:text-red-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">a</span>
                        <span
                            class="z-50 hover:text-blue-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">b</span>
                        <span
                            class="z-50 hover:text-pink-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">o</span>
                        <span
                            class="z-50 hover:text-purple-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">u</span>
                        <span
                            class="z-50 hover:text-green-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">t</span>
                    </h1>
                </a>
                <div (click)="isClick()" class="z-50 flex flex-col items-center w-full">
                    <div>
                        <img class=" animate-ping animate-once animate-ease-linear animate-reverse w-[500px] h-[500px] object-cover"
                            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F23%2Ff0%2F88%2F23f0887b7f3f8721feafde1c51f46f50.gif&f=1&nofb=1&ipt=3dc4dc6982e686de79263056772700bf5a28af2963c7639dcd6e6dc774d611ac&ipo=images"
                            alt="">
                    </div>
                    <div class="z-50">
                        <h1 class="z-50 uppercase  tracking-widest text-2xl animate-pulse animate-normal ">clickme</h1>
                    </div>
                    <a routerLink="/project" class="z-50 cursor-none mt-32">
                        <div class="rotate-90">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="size-6 animate-fade-right animate-infinite animate-ease-linear animate-alternate">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                            </svg>
                        </div>
                        <h1 class="uppercase text-2xl">
                            <span
                                class="hover:text-red-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">P</span>
                            <span
                                class="hover:text-blue-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">r</span>
                            <span
                                class="hover:text-pink-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">o</span>
                            <span
                                class="hover:text-purple-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">j</span>
                            <span
                                class="hover:text-green-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">e</span>
                            <span
                                class="hover:text-yellow-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">c</span>
                                <span
                                    class="hover:text-yellow-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">t</span>
                        </h1>
                    </a>
                </div>
                
                <a routerLink="/skill" class="z-50 cursor-none animate-fade-left animate-alternate  flex items-center gap-x-2">
                    <h1 class="uppercase text-2xl">
                        <span
                            class="hover:text-red-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">s</span>
                        <span
                            class="hover:text-blue-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">k</span>
                        <span
                            class="hover:text-pink-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">i</span>
                        <span
                            class="hover:text-purple-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">l</span>
                        <span
                            class="hover:text-green-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">l</span>
                        <span
                            class="hover:text-yellow-600 hover:animate-fade-left hover:animate-duration-[1000ms] hover:animate-alternate hover:animate-infinite">s</span>
                    </h1>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="size-6 animate-fade-right animate-infinite animate-ease-linear animate-alternate">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                    </svg>
            
                </a>
            </div>
        }
        @if(isShowtext){
          <div class="flex z-50  flex-col mt-10 items-center min-h-screen">
            <div class="z-50 text-end">
                <button (click)="isBack()"
                    class="z-50 text-black cursor-none bg-white font-bold text-xl px-5 py-1 uppercase rounded-xl">back</button>
            </div>
            <div class="z-50 w-full container mx-auto h-96 text-white flex   mt-20 text-wrap flex-wrap'
                         p-10 ">
                <p id="letters" class="leading-10 capitalize">{{text}}</p>
            </div>
           
          </div>
            
        }
    <div #cursor class="hidden sm:block z-50 cursorPointer"></div>
    <div class="bottom-screen"></div>
</div> 




